.logo {
  height: 30px;
}

.logo-name {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  padding-top: 50px;
}

.header-description {
  text-align: center;
  padding-top: 30px;
}

header {
  height: 200px;
  background-color: aqua;
}
