<div class="about-section">
  <div>
    <p class="title">Welcome to Cat App</p>
    <p class="title">Using this app you can:</p>
    <ol>
      <li>
        Upload unlimited amount of Cats (pagination for your convenience);
      </li>
      <li>
        Upload Cat of specific breed, either by choosing from list or enter
        breed's name yourself;
      </li>
      <li>Clear page from Cats;</li>
      <li>Go to Cat's profile for more details;</li>
      <li>
        You can safely reload page with Cat's profile - data will be saved to
        local storage;
      </li>
      <li>You can go back to all Cats;</li>
    </ol>
    <p class="title">Tools used:</p>
    <ol>
      <li>Angular</li>
      <li>
        Angular Material (mat-select, mat-button, mat-paginator, mat-grid)
      </li>
      <li>Reactive Forms (input)</li>
      <li>RxJS (Observables)</li>
      <li>NgRX (storing and sharing data)</li>
    </ol>
  </div>

  <div class="go-back">
    <button (click)="goBack()">Go back to Cats</button>
  </div>
</div>
