<!-- <app-filter (pattern)="showCats($event)"></app-filter> -->
<app-filter [pageNumber]="pageNum"></app-filter>
<div class="main">
  <div *ngIf="showAllMode">
    <mat-paginator
      [length]="100"
      [pageSize]="catsPerPage"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="cats-list">
    <div *ngFor="let cat of cats" class="item">
      <img src="{{ cat.url }}" (click)="onCatClick(cat.id)" class="image" />
    </div>
  </div>
  <div *ngIf="showAllMode">
    <mat-paginator
      [length]="100"
      [pageSize]="catsPerPage"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
