mat-select {
  width: 200px;
  display: block;
  margin: auto auto 30px auto;
  border-radius: 2px;
  border: 1px solid black;
  background-color: lightblue;
}

.filters-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button-show-all {
  width: 150px;
  height: 40px;
  background-color: lightblue;
}

.button-search-by-bread-name {
  width: 150px;
  height: 40px;
  background-color: lightblue;
}

input {
  width: 190px;
}

.show-all {
  margin-right: 10px;
}

.filters {
  margin: 0 10px 0 10px;
}

.select {
  padding-top: 23px;
  margin-left: 10px;
}

.search-input {
  margin-right: 5px;
}
