<div class="filters-section">
  <div class="show-all">
    <button mat-button (click)="setPattern('all')" class="button-show-all">
      Show all Cats
    </button>
  </div>

  <p>or search by breed</p>

  <div class="filters">
    <input type="text" [(ngModel)]="patternFromInput" class="search-input" />
    <button
      mat-button
      (click)="inputPattern()"
      class="button-search-by-bread-name"
    >
      Search
    </button>
  </div>
  <p>or choose from list of breeds</p>
  <div class="select">
    <mat-select
      placeholder="Choose the breed"
      (selectionChange)="setPattern($event.value)"
    >
      <mat-option *ngFor="let breed of breedsList" [value]="breed.name">
        {{ breed.name }}
      </mat-option>
    </mat-select>
  </div>
</div>
